<html>
    <body>
        {{error-message}}
        <h1 style="font-size: 1.2em">Details</h1>
        {{table guest-table}}
        Total running time: {{duration total-time}}<br/>
        Total size: {{human-bytes total-size}}<br/>
        <h1 style="font-size: 1.2em">Logs</h1>
        <pre>{{logs}}</pre>
    </body>
</html>
